<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= user_icon %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Reservations:</b> <%= @user.active_relationships.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/user_stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @book_copies.any? %>
      <ul class="book_copies reserve">
        <%= render @book_copies %>
      </ul>
      <%= will_paginate @book_copies %>
    <% end %>
  </div>
</div>
  