<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= user_icon %>
        <%= @user.name %>
      </h1>
      <p>
        Email: <%= @user.email %>
        <br>
        Library Card Number: <%= @user.library_card_number %>
      </p>
      <section class="stats">
        <%= render 'shared/user_stats' %>
      </section>
    </section>
  </aside>
  <% if @user == current_user %> 
    <div class="col-md-8">
      <h3> Borrowing </h3>
      <% if @book_copies_borrowing.any? %>
        <ul class="book_copies borrow">
          <%= render @book_copies_borrowing %>
        </ul>
        <%= will_paginate @book_copies_borrowing %>
      <% end %>
    </div>  
    <div class="col-md-8">
      <h3> Reserving </h3>
      <% if @book_copies_reserving.any? %>
        <ul class="book_copies reserve">
          <%= render @book_copies_reserving %>
        </ul>
        <%= will_paginate @book_copies_reserving %>
      <% end %>
    </div>
  <% end %>
</div>