<li>
  <%= book_image_for book %>
  <%= link_to book.title, book %>
  <% if logged_in? && current_user.admin? %>
    | <%= link_to "delete", book, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>
  <ul>
    <% if book.author %>
      <li><b>Author:</b> <%= book.author.name %></li>
    <% end %>
    <li><b>Genre:</b> <%= book.genre %></li>
    <% if book.book_copies.any? %>
      <li>Book Copies (<%= book.book_copies.count %>)</li>
    <% end %>
  </ul>
</li>