<% provide(:title, 'All books') %>
<h1>All books</h1>
<% if logged_in? && current_user.admin? %>
  <p><%= link_to "Add new Book", books_new_path %></p>
<% end %>

<h4> Search </h4>
<%= form_tag(books_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<%= form_tag(books_path, method: :get) do %>
  <%= submit_tag ("Clear Search") %>
<% end %>

<%= will_paginate %>

<ul class="books">
  <%= render @books %>
</ul>

<%= will_paginate %>