<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= user_icon %>
      <h1><%= @book_copy.book.title + " " + @book_copy.id.to_s %></h1>
      <span><%= link_to "view book page", @book_copy.book %></span>
      <span><b>Borrowers:</b> <%= @book_copy.borrow_relationships.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/book_copy_stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users borrow">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>